@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font-family: inherit;
  line-height: 1;
  color: inherit;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/* 
h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-size: 60px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 2em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
} */
